/* *************************
   Styles navbar e footer
************************* */

.navbar{
    background-color: #FEF4AE;
    font-family: Ubuntu;
    font-weight: bold; 
    text-align: center;

    & .nav-item{
        border-radius: 15px;
    }
    
    & .nav-item:hover {
        background-color: #FEE234;
        transition-duration: 0.5s;
    }

    & .dropdown-menu{
        background-color: #FEF4AE;
        border-radius: 15px;
        
    }

    & .dropdown-item:hover {
        border-radius: 15px;
        background-color: #FEE234;
        transition-duration: 0.5s;
    }
}

#miniNav{
    background-color: #FFFAD4;
    text-align: center;
    font-weight: 600;
}

#logo2{
  display: flex;
    max-width: 100%;
    height:max-content;
    padding-top: 1%;
}

/* este código faz as animações dropdown */

@media (min-width: 768px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
  





