* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}

/* Fontes */
/* Titulos */
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Texto */
/*Light (300)*/
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Light.ttf") format("truetype");
  font-weight: 300;
}
/*Regular (400)*/
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Regular.ttf") format("truetype");
  font-weight: 400;
}
/*Medium (500)*/
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Medium.ttf") format("truetype");
  font-weight: 500;
}
/*Bold (700)*/
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Bold.ttf") format("truetype");
  font-weight: 700;
}
/*Italic (400)*/
@font-face {
  font-family: "NunitoSans Italic";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Italic.ttf") format("truetype");
  font-weight: 400;
}

/* Titulos h1-h6 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

/* Texto */
p {
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
}

/* Quotes */
q {
  font-family: "NunitoSans Italic", sans-serif;
  font-style: italic;
  font-weight: 400;
}

/*** Header ***/

@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-carousel .owl-carousel-item p {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .header-carousel .owl-carousel-item h1 {
    font-size: 30px;
    font-weight: 600;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 45px;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent),
    url(../images/sobrenos.jpg) center center/cover no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}

/* SIDENAV */
.toc-container {
  top: 80px; /*isto é a distância a que a sidenav fica do topo quando sticky*/
  z-index: 700; /* Garante que a barra lateral esteja abaixo da barra superior */
  margin-top: -80px; /* Truque para o sticky-top do con*/
  padding-top: 80px;
  & ul {
    list-style: none;
    border: solid 2px #dddcdc;
    border-radius: 15px;
    padding: 0;

    & a {
      text-decoration: none;
      color: black;
      & li {
        padding: 0.8rem;
        transition-duration: 0.5s;
      }
    }
    & li:hover {
      background-color: #dddcdc; /*mudar cor do botão*/
      border-radius: 15px;
      font-weight: bold;
    }
  }
}

/* Truque para o sticky-top do conteúdo não ficar debaixo da navbar quando selecionado na sidenav */
section {
  margin-top: -70px;
  padding-top: 80px;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Facility ***/
.facility-item .facility-icon {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facility-item .facility-icon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  z-index: 1;
}

.facility-item .facility-icon span {
  position: absolute;
  content: "";
  width: 15px;
  height: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.facility-item .facility-icon span:last-child {
  left: auto;
  right: 0;
}

.facility-item .facility-icon i {
  position: relative;
  z-index: 2;
}

.facility-item .facility-text {
  position: relative;
  min-height: 250px;
  padding: 30px;
  border-radius: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.facility-item .facility-text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  z-index: 1;
}

.facility-item .facility-text * {
  position: relative;
  z-index: 2;
}

.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
  background: transparent;
}

.facility-item * {
  transition: 0.5s;
}

.facility-item:hover * {
  color: #ffffff !important;
}

/*** About ***/
.about-img img {
  transition: 0.5s;
}

/*** Classes ***/
.classes-item {
  transition: 0.5s;
}

.classes-item:hover {
  margin-top: -10px;
}

/*** Team ***/
.team-item .team-text {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border: 17px solid var(--light);
  border-radius: 250px;
  transition: 0.5s;
}

.team-item:hover .team-text {
  border-color: var(--primary);
}

/*** Testimonial ***/
.testimonial-carousel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .testimonial-carousel {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.testimonial-carousel .testimonial-item .border {
  border: 1px dashed rgba(0, 185, 142, 0.3) !important;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 45px;
  font-size: 20px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 45px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  border-color: var(--primary);
  background: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary) !important;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .form-control {
  border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: #ffffff;
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
  color: var(--primary) !important;
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/**************************
    Styles navbar
************************* */

.navbar {
  background-color: #fef4ae;
  font-family: Ubuntu;
  font-weight: bold;
  z-index: 1000; /* Garante que a barra lateral esteja abaixo da barra superior */

  .nav-item {
    border-radius: 15px;
    transition-duration: 0.5s;
  }

  .nav-item:hover {
    background-color: #fee234;
    transition-duration: 0.5s;
  }

  .dropdown-menu {
    background-color: #fffad4;
    border-radius: 15px;
  }

  .dropdown-item:hover {
    border-radius: 15px;
    background-color: #fee234;
    transition-duration: 0.5s;
  }
  /* Alinhar os itens de navegação à direita */
  .navbar-nav {
    margin-left: auto;
  }
}

#navLogo {
  margin-left: 2%;
  justify-content: center;
}

#miniNav {
  background-color: #fffad4;
  text-align: center;
  font-weight: 600;
}

#logo {
  display: flex;
  max-width: 50%;
  height: max-content;
  padding-top: 1%;
  margin-left: 25%;
}

#educabiz {
  display: inline-block;
  width: 50%;
  padding-top: 1rem;
  margin-left: 1rem;
}

/* *************************
    código animações dropdown
************************* */

@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*Comum a todas as valências*/
/* Card consultar ementas */
.consultar-ementas-card {
  & .imgEmentasCard {
    @media (max-width: 992px) {
      min-height: 200px;
    }
    @media (min-width: 992px) {
      min-height: 300px;
    }
  }
  & h4 {
    @media (max-width: 992px) {
      text-align: center;
    }
  }
}

/* Card secção */
.imgCard {
  @media (max-width: 992px) {
    min-height: 200px;
  }
}

/*Valência Jardim de Infância*/
/*Page header - foto*/
.page-header-jardim {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent),
    url(../imagens/JardimInfancia/foto06.jpg) center center/cover no-repeat;
  background-size: cover;
}

/*Valência Area desportiva e recreativa*/
/*Page header - foto*/
.page-header-desporto {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent),
    url(../imagens/DesportoRecreativa/desporto-header.jpg) center center/cover
      no-repeat;
  background-size: cover;
}

/*Carousel insatalações*/
/*Carousel Container Styles */
.instalacao-carousel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .instalacao-carousel {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* Owl Carousel Item Styles */
.instalacao-item {
  /* altura e largura fixa para cada carousel item */
  width: 100%; /* Uss 100% width preencher container */
  height: 100%; /* Usa 100% height para ser igual ao container height */
  /* posicionado relativo ao carousel container */
  position: relative;

  & img {
    /* Garantir que a imagem ocupa todo os espaço do parent(.instalacao-item) */
    width: 100%;
    height: 100%;
    /* Manter o ratio */
    object-fit: cover; /* Crop the image to cover the entire space */
    object-position: center; /* Center the image within its container */
  }
}

/*Carousel galeria*/
/* Owl Carousel Navigation Styles */
.instalacao-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.instalacao-carousel .owl-dots {
  display: none;
}

.instalacao-carousel .owl-nav button.owl-prev,
.instalacao-carousel .owl-nav button.owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%; /* Alterado para 50% para criar um círculo */
  background-color: #ff874f;
  font-size: 20px;
  transition: 0.5s;
}

.instalacao-carousel .owl-nav .owl-prev:hover,
.instalacao-carousel .owl-nav .owl-next:hover {
  background: #993100;
}

/* Owl Carousel Navigation Styles */
.galeria-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.galeria-carousel .owl-dots {
  display: none;
}

.galeria-carousel .owl-nav button.owl-prev,
.galeria-carousel .owl-nav button.owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%; /* Alterado para 50% para criar um círculo */
  background-color: #ff874f;
  font-size: 20px;
  transition: 0.5s;
}

.galeria-carousel .owl-nav .owl-prev:hover,
.galeria-carousel .owl-nav .owl-next:hover {
  background: #993100;
}

/*Area desporto e recreativa*/
.judoImg {
  max-width: 60%; /* Ensure the image does not exceed its parent container's width */
  height: auto; /* Maintain aspect ratio while adjusting width */
}
.dancasImg {
  max-width: 60%; /* Ensure the image does not exceed its parent container's width */
  height: auto; /* Maintain aspect ratio while adjusting width */
}
.ginasticaImg {
  max-width: 60%; /* Ensure the image does not exceed its parent container's width */
  height: auto; /* Maintain aspect ratio while adjusting width */
}

/*cor dos inputs do form*/
.form-control,
.form-check-input {
  background-color: white;
}

/*valencia terceira idade*/
.page-header-terceiraIdade {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent),
    url(../imagens/TerceiraIdade/centroIdadeHeader.jpg) center center/cover
      no-repeat;
  background-size: cover;
}

/*/*** Cantinho Carousel ***/
.cantinho-carousel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .cantinho-carousel {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.cantinho-carousel .cantinho-item .border {
  border: 1px dashed rgba(0, 185, 142, 0.3) !important;
}

.cantinho-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.cantinho-carousel .owl-nav button.owl-prev,
.cantinho-carousel .owl-nav button.owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ff874f;
  border-radius: 50%; /* Changed to 50% to create a circle */
  font-size: 20px;
  transition: 0.5s;
}

.cantinho-carousel .owl-nav button.owl-prev:hover,
.cantinho-carousel .owl-nav button.owl-next:hover {
  background: #993100;
}

/* Estilo para os itens do carrossel */
.cantinho-carousel .owl-item {
  width: 100%; /* Define a largura de cada item como 100% do container */
}

/* Estilo para as imagens dentro dos itens do carrossel */
.cantinho-carousel .owl-item .cantinho-item .img-fluid {
  width: 100%; /* Garante que a imagem preencha seu container horizontalmente */
  height: 100%; /* Garante que a imagem preencha seu container verticalmente */
  object-fit: cover; /* Mantém a proporção da imagem e cobre todo o container */
}

/* Garante que o conteúdo de texto dentro dos itens do carrossel esteja centralizado */
.cantinho-carousel .owl-item .cantinho-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Garante que o conteúdo esteja centralizado verticalmente */
  padding: 10px; /* Adiciona um espaçamento interno */
  box-sizing: border-box; /* Inclui padding no tamanho total do item */
}
