* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Fontes */
/* Titulos */
@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Texto */
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "NunitoSans Italic";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Italic.ttf") format("truetype");
  font-weight: 400;
}

/* Titulos h1-h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

/* Texto */
p {
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
}

/* Quotes */
q {
  font-family: "NunitoSans Italic", sans-serif;
  font-style: italic;
  font-weight: 400;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.125rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.375rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.063rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  q {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.125rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.125rem;
  }
  p {
    font-size: 1.125rem;
  }
  q {
    font-size: 1.125rem;
  }
}

/* SIDENAV */
.toc-container {
  top: 80px; /* isto é a distância a que a sidenav fica do topo quando sticky */
  margin-right: 3rem;
}
.toc-container ul {
  list-style: none;
  border: solid 2px #dddcdc;
  border-radius: 15px;
  padding: 0;
}
.toc-container ul a {
  text-decoration: none;
  color: black;
}
.toc-container ul li {
  padding: 0.8rem;
  transition-duration: 0.5s;
}
.toc-container ul li:hover {
  background-color: #dddcdc; /* mudar cor do botão */
  border-radius: 15px;
  font-weight: bold;
}

/* Truque para o sticky-top do conteúdo não ficar debaixo da navbar quando selecionado na sidenav */
section {
  margin-top: -70px;
  padding-top: 80px;
}

/* SWIPER */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.swiper-button-next,
.swiper-button-prev {
  color: black;
  background-color: aqua;
  border-radius: 50%;
  padding: 2rem;
}
.swiper-pagination {
  color: black;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: blue;
}

/* Modal do swiper */
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* estilizar previous e next icons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* chevrons no topo do modal */
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* fim Modal do swiper */

/* Card consultar ementas */
.consultar-ementas-card {
  background-color: rgb(149, 149, 149);
  padding: 1rem;
  border-radius: 15px;

  & #btnEmentas {
    background-color: blue;
    color: #dddcdc;
    border-radius: 15px;
    border: none;
    height: 3.5rem;
    width: 16.5rem;
  }
}

/* Card consultar horarios academias */
.consultar-horarios-card {
  background-color: rgb(149, 149, 149);
  padding: 1rem;
  border-radius: 15px;

  & #btnHorarios {
    background-color: blue;
    color: #dddcdc;
    border-radius: 15px;
    border: none;
    height: 3.5rem;
    width: 16.5rem;
  }
}

/* Card quote/citação */
.quote-card {
  background-color: #dddcdc;
  padding: 0.5rem;
  border-radius: 15px;
}

/* Tabela sobre */
.tabela-sobre {
  & .populacao-sobre {
    background-color: #dddcdc;
    border-radius: 15px;
  }
  & .horario-sobre {
    background-color: #dddcdc;
    border-radius: 15px;
  }
  & .objetivos-sobre {
    background-color: #dddcdc;
    border-radius: 15px;
  }
}

/* Botão pdf */
.btnPdf {
  background-color: none;
  color: blue;
  border-radius: 15px;
  border: solid 1.5px blue;
  height: 3.5rem;
  width: 16.5rem;
}

/* Botão pdf desativado */
.btnPdf:disabled {
  background-color: none;
  color: gray;
  border-radius: 15px;
  border: solid 1.5px gray;
  height: 3.5rem;
  width: 16.5rem;
}

/* Accordions */
.accordion {
  & .accordion-button {
    background-color: none;
  }
  & .accordion-header {
    text-align: center;
  }

  & .accordion-button:focus {
    z-index: 3;
    border-color: #f5f5f5 !important;
    outline: 0;
    box-shadow: none !important;
  }
  & .accordion-button:not(.collapsed) {
    background-color: lightblue !important;
  }
  & .accordion-body {
    background-color: lightgray !important;

    & ul {
      list-style-type: none !important;
    }
  }
}

/* Botão primario */
.btnPrimary {
  background-color: blue;
  color: #dddcdc;
  border-radius: 15px;
  border: solid 1.5px blue;
  height: 3.5rem;
  width: 16.5rem;
}
