


html {
    font-family: sans-serif;
  }

  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }

  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }

  td {
    text-align: center;
  }

  caption {
    padding: 10px;
  }

  body {
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

.btn-primary {
    margin-bottom: 10px;
    margin-right: 10px;
}

.btn {
    margin-right: 10px;
}

.input-group {
    margin-bottom: 20px;
}

.table {
    background-color: #ffffff;
}

.header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.table thead th {
    text-align: center;
}

body {
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.btn-primary {
    margin-bottom: 10px;
    margin-right: 10px; 
}

.input-group {
    margin-bottom: 20px;
}

.table {
    background-color: #ffffff;
}

.header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.table thead th {
    text-align: center;
}


.search-bar-container {
    display: flex;
    align-items: center;
}

.input-group {
    margin-bottom: 20px;
    height: 40px;
    align-items: stretch; 
}

.table thead th {
    text-align: center;
}

.search-bar-container {
    display: flex;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group .btn {
    position: absolute; 
    top: 0; 
    right: 0; 
    height: 100%;
}
