


h1 {
  text-align: center;
  margin-top: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
}

.card-img-top {
  height: 200px; 
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-link {
  color: #007bff;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}




.input-group {
  margin-bottom: 20px;
}


#filtros {
    top: 80px; /*isto é a distância a que a sidenav fica do topo quando sticky*/
    z-index: 700; /* Garante que a barra lateral esteja abaixo da barra superior */
    margin-top: -80px; /* Truque para o sticky-top do con*/
    padding-top: 80px;
    border: solid 2px #dddcdc;
    border-radius: 15px;
    color: black;
    padding: 0.8rem;
    }