/* *************************
        Styles notícias
************************* */

.page-header-noticias {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent),
    url(../imagens/noticias/noticiasHeader.jpg) center center/cover no-repeat;
  background-size: cover;
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.btn {
  background-color: #ff874f;
  color: #fff; /* cor do texto branca */
  border-radius: 5px; /* bordas arredondadas */
  border-color: #ff874f;
  padding: 5px 10px; /* padding interno */
  text-decoration: none; /* remove sublinhado padrão */
  display: inline-block; /* exibe como um bloco */ 
}

.btn:hover {
  background-color: #993100;
  border-color: #993100;
}

#imgNoticia {
  border-radius: 15px;
  background-color: #fef4ae;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Styles Cards */

.card {
  display: flex;
  width: 30%;
  height: auto;
}

.card-title {
  display: flex;
  text-align: center;
}

.card-text {
  margin-bottom: 0;
  font-weight: 200;
}

/* Styles Paginação */
#paginacao {
  display: flex;
  justify-content: center;
  
  & a {
    color: #ffffff;
    background-color: #ff874f;
    border-color: #ff874f;
    border-radius: 50%;
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 1rem;
  }

  & a:hover {
    background-color:#993100;
    border-color: #993100;
  }

  & a:active,
  a:focus {
    background-color: #fff3ed;
  }
}



/* Styles Filtros */
#filtros {
  top: 80px; /*isto é a distância a que a sidenav fica do topo quando sticky*/
  z-index: 700; /* Garante que a barra lateral esteja abaixo da barra superior */
  margin-top: -80px; /* Truque para o sticky-top do con*/
  padding-top: 80px;
  border: solid 2px #dddcdc;
  border-radius: 15px;
  color: black;
  padding: 0.8rem;
}

/* *************************
        Styles Gerais 
************************* */


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*Acrescentar cor se necessario*/
body {
}

/* Texto */
/*Light (300)*/
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Light.ttf") format("truetype");
  font-weight: 300;
}
/*Regular (400)*/
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Regular.ttf") format("truetype");
  font-weight: 400;
}
/*Medium (500)*/
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Medium.ttf") format("truetype");
  font-weight: 500;
}
/*Bold (700)*/
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Bold.ttf") format("truetype");
  font-weight: 700;
}
/*Italic (400)*/
@font-face {
  font-family: "NunitoSans Italic";
  src: url("fonts/nunitoSans/NunitoSans_10pt-Italic.ttf") format("truetype");
  font-weight: 400;
}

/* Titulos h1-h6 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

/* Texto */
p {
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
}

/* Quotes */
q {
  font-family: "NunitoSans Italic", sans-serif;
  font-style: italic;
  font-weight: 400;
}

/*** Spinner loading ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Header ***/
/*** muda a transparência da imagem inicial ***/
.page-header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent),
    url(../images/sobrenos.jpg) center center/cover no-repeat;
  background-size: cover;
}

.breadcrumb-item {
  color: #ffffff !important; /* Cor do texto das breadcrumbs */
}

.breadcrumb-item a {
  color: #ff874f; /* Cor do texto dos links das breadcrumbs */
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}