/********** Template CSS **********/
/* Fontes */
/* Titulos */
@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 700;
  }
   
  /* Texto */
  /*Light (300)*/
  @font-face {
    font-family: "NunitoSans";
    src: url("fonts/nunitoSans/NunitoSans_10pt-Light.ttf") format("truetype");
    font-weight: 300;
  }
  /*Regular (400)*/
  @font-face {
    font-family: "NunitoSans";
    src: url("fonts/nunitoSans/NunitoSans_10pt-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  /*Medium (500)*/
  @font-face {
    font-family: "NunitoSans";
    src: url("fonts/nunitoSans/NunitoSans_10pt-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  /*Bold (700)*/
  @font-face {
    font-family: "NunitoSans";
    src: url("fonts/nunitoSans/NunitoSans_10pt-Bold.ttf") format("truetype");
    font-weight: 700;
  }
  /*Italic (400)*/
  @font-face {
    font-family: "NunitoSans Italic";
    src: url("fonts/nunitoSans/NunitoSans_10pt-Italic.ttf") format("truetype");
    font-weight: 400;
  }


.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.posicao{
    max-width: 500px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; /* Isso garante que o conteúdo seja centralizado verticalmente */
}

/*** Side Nav ***/
.content-container {
    top: 200px;
  }

  section {
    margin-top: -200px; /* Truque para o sticky-top do con*/
    padding-top: 200px;

  }
  
  .toc-container {
    top: 80px; /*isto é a distância a que a sidenav fica do topo quando sticky*/
    bottom: 150px;
    z-index: 800; /* Garante que a barra lateral esteja abaixo da barra superior */
    margin-top: -80px; /* Truque para o sticky-top do con*/
    padding-top: 80px;
    margin-bottom: -150px;
    padding-bottom: 150px;
  
    & ul {
      list-style: none;
      border: solid 2px #dddcdc;
      border-radius: 15px;
      padding: 0;
  
      & a {
        text-decoration: none;
        color: black;
        & li {
          padding: 0.8rem;
          transition-duration: 0.5s;
        }
      }
      & li:hover {
        background-color: #dddcdc; /*mudar cor do botão*/
        border-radius: 15px;
        font-weight: bold;
      }
    }
  }

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Formulário ***/
.bg-form {
    background-color: #FFF3ED; /* Cor de fundo desejada */
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn .btn-primary,

    .btn-outline-primary {
    color: #ffffff;
    background-color: #FF874F;
    border:none;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    color: white; /* Nova cor do texto ao passar o mouse */
    background-color: #993100; /* Nova cor de fundo ao passar o mouse */
}


.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.btnValencias{
    border-color: #FF874F;
    color: #FF874F;
    
    &:hover{
        background-color: #FF874F;
        color: #fff;
    }
}

/*** Vantagens ***/
.bgVantagens{
    background-color: #FF874F;
    margin-bottom: 50px;
}

/* Card consultar ementas */
.consultar-ementas-card {
    & .imgEmentasCard {
      @media (max-width: 992px) {
        min-height: 200px;
      }
      @media (min-width: 992px) {
        min-height: 300px;
      }
    }
    & h4 {
      @media (max-width: 992px) {
        text-align: center;
      }
    }
  }



/*** Heading ***/
/* Titulos h1-h6 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
 
/* Texto */
p {
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
}
 
/* Quotes */
q {
  font-family: "NunitoSans Italic", sans-serif;
  font-style: italic;
  font-weight: 400;
}

/*** Header ***/
.header-carousel::before,
.header-carousel::after,
.page-header::before,
.page-header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    /*background: url(../img/bg-header-top.png) center center repeat-x;*/
    z-index: 1;
}

.header-carousel::after,
.page-header::after {
    height: 19px;
    top: auto;
    bottom: 0;
    background: url(../img/bg-header-bottom.png) center center repeat-x;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent), url(../images/sobrenos.jpg) center center/cover no-repeat;
    background-size: cover;
}

.breadcrumb-item {
    color: #ffffff !important; /* Cor do texto das breadcrumbs */
}

.breadcrumb-item a {
    color: #FF874F; /* Cor do texto dos links das breadcrumbs */
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}

/*** Facility ***/
.facility-item .facility-icon {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facility-item .facility-icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    transition: .5s;
    z-index: 1;
}

.facility-item .facility-icon span {
    position: absolute;
    content: "";
    width: 15px;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.facility-item .facility-icon span:last-child {
    left: auto;
    right: 0;
}

.facility-item .facility-icon i {
    position: relative;
    z-index: 2;
}

.facility-item .facility-text {
    position: relative;
    min-height: 250px;
    padding: 30px;
    border-radius: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.facility-item .facility-text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    transition: .5s;
    z-index: 1;
}

.facility-item .facility-text * {
    position: relative;
    z-index: 2;
}

.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
    background: transparent;
}

.facility-item * {
    transition: .5s;
}

.facility-item:hover * {
    color: #FFFFFF !important;
}


/*** About ***/
.about-img img {
    transition: .5s;
}



/*** Classes ***/
.classes-item {
    transition: .5s;
}

.classes-item:hover {
    margin-top: -10px;
}


/*** Team ***/
.team-item .team-text {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 250px;
    transition: .5s;
}

.team-item:hover .team-text {
    border-color: var(--primary);
}


/*** Noticias Slider ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--primary);
    border-radius: 50%; /* Alterado para 50% para criar um círculo */
    background-color: #FF874F;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: #993100;
}



/*Botão pdf*/
.btnPdf {
    background-color: none;
    color: blue;
    border-radius: 15px;
    border: solid 1.5px blue;
    height: 3.5rem;
    width: 16.5rem;
  }
  
  /*Botão pdf desativado*/
  .btnPdf:disabled {
    background-color: none;
    color: #FF874F !important;
    border-radius: 15px;
    height: 3.5rem;
    width: 16.5rem;
  }
  
  /*Accordions*/

.accordion {
    ul li a {
      color: #000;
      text-decoration: none;
      cursor: default;
  
      &:hover {
        color: #FF874F; /* Muda a cor do link quando passa o mouse por cima */
      }
    }

    .accordion-item .accordion-body ul {
        text-align: justify;
    }
  
    .accordion-button {
        background-color: none;
    
        &.collapsed show {
          background-color: #FF874F; /* Altera a cor do botão quando está em estado "collapsed" */
          color: white; /* Altera a cor do texto */
        }
      }
  
    &.accordion-header {
      text-align: center;
    }
  
    .accordion-button:focus {
      z-index: 3;
      border-color: #f5f5f5 !important;
      outline: 0;
      box-shadow: none !important;
    }
  
    .accordion-button:not(.collapsed) {
      background-color: #FF874F !important;
      color: white;
    }
  
    .accordion-body {
      background-color: #FFF3ED !important;
    }
  }

  /*Carousel insatalações*/
/*Carousel Container Styles */
.instalacao-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
   
  @media (min-width: 576px) {
    .instalacao-carousel {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
   
  /* Owl Carousel Item Styles */
  .instalacao-item {
    /* altura e largura fixa para cada carousel item */
    width: 100%; /* Uss 100% width preencher container */
    height: 100%; /* Usa 100% height para ser igual ao container height */
    /* posicionado relativo ao carousel container */
    position: relative;
   
    & img {
      /* Garantir que a imagem ocupa todo os espaço do parent(.instalacao-item) */
      width: 100%;
      height: 100%;
      /* Manter o ratio */
      object-fit: cover; /* Crop the image to cover the entire space */
      object-position: center; /* Center the image within its container */
    }
  }
   
  /*Carousel galeria*/
  /* Owl Carousel Navigation Styles */
  .instalacao-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  .instalacao-carousel .owl-dots {
    display: none;
  }
   
  .instalacao-carousel .owl-nav button.owl-prev,
  .instalacao-carousel .owl-nav button.owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50% !important; /* Alterado para 50% para criar um círculo */
    background-color: #ff874f;
    font-size: 20px;
    transition: 0.5s;
  }
   
  .instalacao-carousel .owl-nav .owl-prev:hover,
  .instalacao-carousel .owl-nav .owl-next:hover {
    background: #993100;
  }
  


 /**************************
    Styles navbar
************************* */

 
.navbar .nav-item .nav-link {
    color: black !important;
}

.navbar {
    background-color: #FEF4AE;
    font-family: Ubuntu;
    font-weight: bold;
    z-index: 1000; /* Garante que a barra lateral esteja abaixo da barra superior */
 
    .nav-item {
        border-radius: 15px;
        transition-duration: 0.5s;
    }
    
    #navTexto{
 
        & h5{
            font-weight: 600;
            align-self: self-end;
        }
 
        & p{
            font-family: 'Nunito Sans';
            font-weight: 250;
            text-align: start;
        }
}
 
#navLogo {
    margin-left: 2%;
    justify-content: center;
    width: 15%;
    height: auto;
}
 
    .nav-item:hover {
        background-color: #FEE234;
        transition-duration: 0.5s;
    }
 
    .dropdown-menu {
        background-color: #FFFAD4;
        border-radius: 15px;
    }
 
    .dropdown-item:hover {
        border-radius: 15px;
        background-color: #FEE234;
        transition-duration: 0.5s;
    }
    /* Alinhar os itens de navegação à direita */
    .navbar-nav {
        margin-left: auto;
    }
}
 
#navLogo {
    margin-left: 2%;
    justify-content: center;
}
 
#miniNav {
    background-color: #FFFAD4;
    text-align: center;
    font-weight: 600;
}
 
#logo {
    display: flex;
    max-width: 50%;
    height: max-content;
    padding-top: 1%;
    margin-left: 25%;
}
 
#educabiz {
    display: inline-block;
    width: 50%;
    padding-top: 1rem;
    margin-left: 1rem;
}
 
/* *************************
    código animações dropdown
************************* */
 
@media (min-width: 768px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}
 
@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
 
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
 
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}
 
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
 
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
 
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}
 
.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

/* *************************
    Styles footer
************************* */
 
footer {
    background-color: #FEF4AE;
    font-family: Ubuntu;
    color: black; /* Cor do texto do footer */
    width: 100%; /* Faz com que o footer ocupe 100% da largura da página */
    bottom: 0; /* Coloca o footer na parte inferior */
    left: 0;

  }

  #imgFoot {
    display: flex;
    max-width: 40%;
    height: max-content;
    padding: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #footButton {
    background-color: #FFFAD4;
  
    &:hover {
        border-radius: 5px;
        background-color: #FEE234;
        transition-duration: 0.5s;
    }
  }

  #social-icons {
    color: black;
    display: flex; /* Faz os ícones sociais ficarem lado a lado */
    justify-content: center; /* Centraliza os ícones horizontalmente */
    
  }

  .socialLink a{
    text-decoration:none;
    margin: 0 10px; /* Adiciona espaçamento horizontal entre todos os ícones */
}

#social-icons:hover {
    color: #FEE234;
    transition-duration: 0.5s;
    text-decoration: none; /* Adiciona esta linha para remover a sublinhado */
}
  
  #footText {
    text-align: center;
    font-size: 80% !important;
    font-family: Ubuntu;
  }




  
